@mixin core_top-bar {
	.top-bar {
		position: relative;
		left: 0;
		right: 0;
		z-index: $top-bar-z-index;

		&.__top-bar--ready {
			@if $top-bar-sticky {
				position: fixed;
			} @else {
				position: absolute;
			}

			top: 0;

			@include transition(
				(all $transition-fast ease-out 0s)
			);
		}

		@if $top-bar-sticky {
			@if $top-bar-autohide == true {
				&.__top-bar--hidden {
					@include transform(translateY(-100%));
				}

				@if $top-bar-peek == true {
					&.__top-bar--peek {
						@include transform(translateY(0));
					}
				}
			}
		}

		@include clear(true, false);
	}

	.top-bar-height-element {
		&.__top-bar--reset {
			&,
			* {
				@include transition(none !important);
			}
		}
	}
}