$top-bar-z-index: 350;
$top-bar-gutter: 15px;
$top-bar-gutter--autosize: false;
$top-bar-background-color: $primary-color;

$top-bar-sticky: false;
$top-bar-autosize: false;
$top-bar-autohide: false;
$top-bar-peek: false;

$drawer-support: true;